/*--------homepage----------*/

#banner{
    background: cornflowerblue;
    color: white;
    padding: 5%;
}

#intro{
    text-align: center;
    padding: 40px;
    /*background:url('glacier-bay-80643_1920.jpg') no-repeat;
   background-size: cover;*/
}

.jumbotron{
    border-radius: 20px;
    padding: 20px;
    background-color: rgba(255,255,255,0.85);
    max-width: 900px;
    margin: 0 auto;
    background-color:antiquewhite;
}

.chapter{
    background: cornflowerblue;
    color: white;
    padding: 5%;
}


.card-title{
    background-color: cornflowerblue;
}

.card{
    background:#fff;
    padding:5px;
}


/*------------single post page---------------*/

#comment_post{
    padding: 2%;
}

#reported{
    color: red;
}



/*------------footer---------------*/

.social-icon {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-icon li{
    display: inline-block;
    text-align: center;
}

.social-icon a {
    display: block;
    width: 44px;
    height: 44px;
    line-height: 44px;
    border-radius: 50%;
    margin-right: 5px;
}

.social-icon a {
    background: rgba(255, 255, 255, 0.85);
    color: #000;
}

.social-icon a:hover {
    background: rgba(255, 255, 255, 0.25);
    color: #fff;
}

footer{
    background-color: #424558;
    bottom: 0;
    left: 0;
    right: 0;
    height: 35px;
    text-align: center;
    color: #CCC;
}

/*--- login --*/
#login{
    margin: 0;
    padding: 0;
    background-color: cornflowerblue;
    height: 100vh;
}
#login .container #login-row #login-column #login-box {
    margin-top: 120px;
    max-width: 600px;
    height: 320px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
}


/*--- adminpage--*/

#admin_background{
    background-color: cornflowerblue;
    height: 100vh;
    padding: 20px;
}
#admin_background .jumbotron{
    background: whitesmoke;
    max-width: fit-content;
}

/*--- media queries--*/

@media (max-width: 750px) {

    /*---Tableau responsive --*/

    .responsive-table-line table,
    .responsive-table-line thead,
    .responsive-table-line tbody,
    .responsive-table-line th,
    .responsive-table-line td,
    .responsive-table-line tr {
        display: block;
    }

    .responsive-table-line thead tr {
        display:none;
    }
    .responsive-table-line td {
        position: relative;
        border: 1px solid lightgrey;
        padding-left: 50% !important;
        white-space: normal;
        text-align:right;
    }

    .responsive-table-line td:nth-child(odd) {
        background-color: peachpuff;
    }

    .responsive-table-line td::before {
        content: attr(data-title);
        position: absolute;
        top: 0px;
        left: 0px;
        width: 45%;
        height:100%;
        white-space: nowrap;
        text-overflow: ellipsis !important;
        overflow:hidden !important;
        text-align:left;
        background-color:#f8f8f8;
        padding:2px;
    }
}
